*{
    margin: 0;
    padding: 0;
}

.box{
    height: 1000px;
}

.a{ background-color: saddlebrown;}
.b{ background-color: aqua;}
.c{ background-color: palegreen;}
.d{ background-color: orangered;}

.sec-a{
    background-color: aqua;
    width: 200px;
    height: 200px;
    position: sticky;
    left: 100px;
    top: 100px;
}

.sec-b{
    background-color: bisque;
    width: 200px;
    height: 200px;
    position: sticky;
    left: 100px;
    top: 50px;
}

.box.c{
    height: 4000px;
    display: flex;
    /* align-items: flex-start; */

}

.box.c>*{
    flex: 1;
}

.sec-c{
    background-color: blue;
    position: sticky;
    left: 0px;
    top: 10px;
    align-self: flex-start;
    min-height: 500px;
}
.sec-d{
    background-color: cadetblue;
}