
/* 화면 너비가 최소 1024픽셀 이상일 때 적용되는 스타일 */
@media (min-width:1024px){
    .container{background-color: red;}}

/* 화면 너비가 768px픽셀 이상 1023px 이하 일 때 적용되는 스타일 */
@media (min-width:768px) and (min-width:1023px){
    .container{background-color: blue;}
}
/* 화면 너비가 767px픽셀 이하 일 때 적용되는 스타일 */
@media (max-width:767px){
     .container{background-color: green;}
}
/*  위 초보방식 */

