img{max-width: 100%;}
.popup{
    border: 1px solid black;
    position: fixed;
    left: 200px;
    top: 200px;
    width: 300px;
    background-color: #fff;
}

.popup-controler{
    margin-top: 1rem;
    display: flex;
    justify-content:space-between;
}

.popup-controler button{
    padding: .4rem 1rem;
    border: none;
    background-color: #eee;
    cursor: pointer;
}
.popup-controler .close-oneday:hover{
    background-color: #ddd;
}
.popup-controler .close:hover{
    background-color: #ddd;
}

.popup{
    transition: all 1s ease 0s;
    opacity: 1;
}

.popup .hiden{
    opacity: 0;
    pointer-events: none;  /* 마우스에도 반응하지 않게함 */
    transform: scale(1.5);
}   

