html{
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 20px;
}

.abo{
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}

body{
    background: url(./img/bg.png) no-repeat 50% 5% /cover;
}

.banner{
    margin: 3rem 4rem;
    height: 599px;
    /* border: 2px solid red; */
    background: url(./img/커피콩2.jpg) no-repeat 50% 50% /cover;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1{
    /* border:  2px solid red; */
    color: #fff;
    font-size: 2.5rem;
    line-height: 100%;
    text-transform: uppercase;
}

.content-box{
    /* border: 2px solid red; */
    width: 1600px;
    margin: 0 auto;
}

.content-box h2{
    font-size: 7.5rem;
    line-height: 90%;
    text-transform: uppercase;
    margin-bottom: 48px;
}

.content-box p{
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 48px;
}

.content-box .img-box{
    display: flex;
    gap: 20px;
    margin-bottom: 2rem;
}

.img-box figure{
    flex: 1;
    aspect-ratio: 520/434;
}

.img-box figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.content-box h3{   
    font-size: 2rem;
    line-height: 140%;
    text-align: center;
    margin-bottom: 1rem;
}

.content-box h3+p{
    line-height: 140%;
    text-align: center;
    text-transform: capitalize;

}

.content-box .box2 figure{
    aspect-ratio: 790/434;
}