:root{
    --base-pc:20px;
    --base-pad:18px;
    --base-mo:14px;
    --base-wide1:22px;
}  



.stp1{
        font-family: "aboreto";
}

.common-flame{
        /* border: 1px solid red; */
        width: 1600px;
        margin: 0 auto;
        padding-top: 6rem;}

.banner{
        /* border: 1px solid red; */
        height: 599px;
        border-radius: 2.5rem;
        background: url(../css/img/커피콩2.jpg) no-repeat 50% 50% /cover;
        display: flex;
        justify-content: center;
        align-items: center;}

.banner h1{
        color: #fff;
        font-size: 2.5rem;
        line-height: 100%;
        text-transform: uppercase;}

.common-flame h2{
        font-size:7.5rem;
        line-height: 90%;
        text-transform: uppercase;
        margin-top: 6rem;}

.desc1{
        line-height: 140%;
        text-transform: uppercase;
        margin: 2.4rem 0;}

.gallery{
        display: flex;
        gap: 1rem;}

.gallery figure{
        flex:1;
        aspect-ratio: 520/434;}

.gallery figure img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;}

.common-flame h3{
        /* border: 1px solid red; */
        margin: 2rem 0 1rem 0;
        font-size: 2rem;
        line-height: 140%;
        text-align: center;
        text-transform: lowercase;}

.desc2{
        line-height: 140%;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 2rem;}

.gallery.type2 figure{
        aspect-ratio: 790/434;}

.wrap{
        background: url(./img/bg.png) no-repeat 50% 0% / 100% auto;}




 html{
    font-family: 'Pretendard' sans-serif;
        font-weight: 400;}

@media(max-width:3840px){
     html{
        font-size: var(--base-wide1);}
}
@media(max-width: 1920px){
    html{
        font-size: var(--base-pc);}
}
@media(max-width: 1024px){
    html{
        font-size: var(--base-pad);}

    .common-flame {
        width: auto;
        margin: 0 2rem;
        padding-top: 6rem;}

    .common-flame h2 {
        font-size: 4.4rem;}

    .gallery figure {
    flex: 1;
    aspect-ratio: 1/1;} 

}
@media(max-width: 768px){
    html{
        font-size: var(--base-mo);}

    .common-flame {
        width: auto;
        margin: 0 1rem;
        padding-top: 6rem;}
    .common-flame h2 {
        font-size: 3.5rem;}
    .gallery.type2 figure {
        aspect-ratio: 1/1;}
    .gallery {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;}

    .gallery .grid2fr{
        grid-column: 1/3;
        aspect-ratio: 365/150;}
        

    .gallery figure {
        aspect-ratio: 175/150;}

    .gallery.type2{
        grid-template-columns: repeat(1,1fr);

        }
    .gallery.type2 figure{
        grid-column: 1/3;
        aspect-ratio: 365/150;
    }
    .wrap {
    background: url(./img/bg.png) no-repeat 50% 40% / 100% auto;}
    }