.a{
    border: 1px solid red;
    width: 200px;
    height: 300px;
    object-fit: cover;
    object-position: 50% 0%; 
    /* 50% 50%;{기본값} */
}
.b{
    border: 1px solid red;
    width: 200px;
    height: 300px;
    object-fit: contain;
}
.c{
    width: 400px;
    aspect-ratio: 2/1;
    object-fit: cover;
}

figure{ border: 1px solid green;
        width: 600px;
        aspect-ratio: 1/1;
        line-height: 0;
}

figure .d{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

