@media(max-width:1024px){

      html{
        font-family: 'pretendard', sans-serif;
        font-weight: 400;
        font-size: var(--base-pad);
    }
      .wrap{
        width: auto;
        margin: 0 auto;
    }
    .common-frame {
        width: auto;
        margin: 0 2rem;

}
    .banner h1 {
        font-size: 50px;
}

    h2.deco-title {
        font-size: 80px;
        background: url(../img/Vector\ 1.svg) no-repeat 50% -22px;
    }

    .cafe-gal figure {
    aspect-ratio: 1/1;
}
 
}
