@media(max-width:768px){

      html{
        font-family: 'pretendard', sans-serif;
        font-weight: 400;
        font-size: var(--base-mo);
    }
      .common-frame {
        width: auto;
        margin: 0 1rem;

}
    h2.deco-title {
        font-size: 50px;
        background: url(../img/Vector\ 1.svg) no-repeat 50% -75px;
}
    .cafe-gal{
    
        flex-direction: column;
    }

    .cafe-gal figure {
        aspect-ratio: 365/200;
}

}