@media(max-width:1024px){
    html{
        font-size: var(--base-tab);
    }
     .content{
        width: auto;
        margin: 0 2rem;
        margin-top: 10rem;
    }

    .content h2 {
    font-size: 3.5rem;
    margin-bottom: 4rem;
}
}