@media(max-width:768px){
    html{
        font-size: var(--base-mo);
    }
      .content{
        width: auto;
        margin: 0 1rem;
        margin-top: 6rem;
    }
    .content figure img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 1rem;
}
}