.aboreto{
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}

html{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Pretendard',sans-serif;
}

.banner{
    /* padding-top: 270px;
    box-sizing: border-box; */
    height: 599px;
    background: url(../img/bred.png) no-repeat 50% 50% /cover ;
}

.banner h1{
    color: #fff;
    font-size: 2.5rem;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    padding-top: 270px;
}

.content{
    width: 1600px;
    margin: 0 auto;
    margin-top: 6rem;
}

.content h2{
font-size: 4rem;
line-height: 90%;
text-transform: uppercase;
/* 행삭제 shift +delete */
margin-bottom: 4rem;
}

.content p{
    border-top: #000;
    font-family: Pretendard;
    line-height: 140%;
    text-align: right;
    text-transform: uppercase;
    padding: 1rem 0;
    margin-bottom: 3rem;
}


.content figure img{
    width: 1000px;
    height: 430px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.content figcaption{
line-height: 140%;
text-transform: lowercase;
}