
.케듀{ 
        font-family:"케듀";
        font-weight: 400;
}
.케듀테두리{
             font-family:"케듀테두리";
}

.다꾸{
     font-family: 'NostalgicYuriDakku';
     font-size: 40px;
}
.mons{
    font-family: "Ballet", cursive;
}

.ballet{
  font-family: "Jacquard 12 Charted", system-ui;
  font-size: 60px
 
}

.c{
    font-family: "Kings", cursive;
    font-size:45px;
}