*{
    margin: 0; padding: 0;
}
.a{background-color:red;}
.b{background-color:green;}
.c{background-color:blue;}
.d{background-color:gold;}
.e{background-color:pink;}

.box{ background-color: gray;}
.box1{
    width: 800px;
    height: 300px;
    display: flex;
    
}

.box-1{
    width: 250px;
    
    
}

.box-2{
    width: 300px;
}

.box-3{
    width: 250px;
}

.box-2 .c{
    height: 100px;
}

.box-2 .box-2-1{
    display: flex;
    
}

.box-2-1 section{
    width: 150px;
    height: 200px;
}








.box2{
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.box4{ display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box2 .box4 section{
    width: 200px;
    height: 100px;
}

.box5{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box5 section{
    width: 100px;
    height: 100px;
}

.box2 .e {
    width: 200px;
}








.box3{
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-4 .e{
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-4 .e section{
    width: 100px;
    height: 100px;
}