*{
    margin: 0; padding: 0;
}

.a{background-color:red;}
.b{background-color:green;}
.c{background-color:blue;}
.d{background-color:gold;}
.e{background-color:pink;}




.box1{
    background: gray;
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}

.box1 .o1{
    width: 100px;
    height: 100px;
}






.box2{
    background-color: gray; 
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box-0{
    display: flex;
}

.box-1{
    display: flex;
    flex-direction: row-reverse;
}







.box3{ background-color: gray;
    width: 800px;
    height: 300px;
    display: flex;
}

.box-2{
    width: 500px;
    display: flex;
    
}

.box-2 section{
    flex: 1;
    
}

.box-3{
    width: 300px;
    height: 100px;
}