*{
    margin: 0;
    padding: 0;
}

.box{ background-color: gray;}

.box2{width: 800px;
    height: 100px;
    display: flex;

}
div section{
    width: 100px;
}

.box2 .a{

}
.box2 .b{

}
.box2 .c{ order: 1;

}
.box2 .d{

}
.box2 .e{

}

