html{
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 20px;
}


header{
    border-bottom: 2px solid  #BE0707;
    width: 1920px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: fixed;
}
header .logo{
    margin-left: 8rem;
}
.menu{
    width: 966px;
    height: 100px;
    gap: 1rem;
    
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-1{
    position: absolute;
    right: 160px;
    top: 10px;
    display: flex;
    justify-content: center;
    
}

 .menu-1 ul{ 
    flex: 1;

 }

.menu-1 li{
    flex: 1;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;

}

.menu-2{
    display: flex;
    position: relative;
    right: -280px;
    bottom: -50px;
}
.menu-2 ul{
    position: absolute;
       
}
.menu-2 ul li{
    flex: 1;
}
header li{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}







.banner{
    height: 963px;
    background: url(../img/커피.jpg) no-repeat 50% 50% /cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}

.banner h1{
    color: #fff;
    font-size: 7rem;
    line-height: 90%;
    text-transform: uppercase;
    
}

section{
    width: 1600px;
    margin: 0 auto;
}

section h2{
    font-size: 3rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
section p{
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.banner2{
    height: 441px;
    background: url(../img/매장.jpg) no-repeat 50% 50% /cover;
    margin-bottom: 7.5rem;
}