.a{
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 10px solid red;
    transition-property: all;
    transition-duration: 5s;
    transition-timing-function: cubic-bezier(0.01, 0.81, 0.58, 1);
    transition-delay: 0s;
}
   
.a{    /* 축약형 */
    transition: 
    width 1s ease 0s,
    height 1s cubic-bezier(0.01, 0.81, 0.58, 1) 1s,
    background-color 1s ease 2s ;
}
.a{
    transition: all 1s ease 0s;
}
.a:hover{
    width: 300px;
    height: 300px;
    background-color: pink;
    padding-left: 30px;

}

.box{
    background-color: #ddd;
    width: 500px;
    height: 500px;
    padding: 30px;
}

.b{
    background-color: orange;
    height: 200px;
    opacity: 0;
    transition: all 1s ease 0s;

}
.box:hover .b{
    opacity: 1;
}
.c {
    background-color: green;
    height: 200px;
    display: none;
}

.box:hover .c{
    display: block;

}